.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin: 0.8em 6em;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 3em;
}

.nav-item {
    padding: 0.5em 1em;
}

.client-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:10px;
}

.client-links-item {
    padding: 0.5em 1em;
}

.client-links-item.sign-up {
    background-color: rgba(173, 226, 223, 1);
    border-radius: 0.5em;
}